{% extends "base.html" %}
{% load staticfiles %}
{%  load crispy_forms_tags %}
{% block content %}
	
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-sm-offset-3">
				<h1 class="footer-topic" style="color:black !important;"> <center>EDIT PROFILE</center> </h1>
				<hr>
			</div>
		</div>
		
		<div class="row">
		<div class="col-xs-6 col-sm-offset-3">
				 <form action="" , method="POST" enctype="multipart/form-data">
                {% csrf_token %}
					
					{{user_form | crispy}}
					{{profile_form | crispy}}

					<input type="submit" class="btn btn-primary" name="submit" value="Save">
                </form>
		</div>
		</div>
		<hr>

	</div>
{% endblock %}