{% extends "base.html" %}
{% load staticfiles %}
	{% load crispy_forms_tags %}

    {% block content %}

    {% block topbanner %}
{% endblock %}

<div class="container">
    <div class="row" style="padding-top:50px;padding-bottom:50px;">
        <div class="col-md-4 col-md-offset-4">
            <div class="well register-well">
                <center>
                    <div class="register-icon">
                        <i class="fa fa-user-plus fa-5x" style="color:#318f61;"></i>
                    </div>
                </center>
                <h1 class="sign-in-title">Sign Up</h1>
                <form action="" , method="POST" enctype="multipart/form-data" class="register-form">

                    {% csrf_token %}
                    {{user_form | crispy}}
                    {{profile_form | crispy}}
                    
                    <center>
                    <input type="submit" class="btn btn-success sign-in-button" value="Register" name="submit">
                    </center>
                </form>
            </div>
        </div>
    </div>
</div>

    {% endblock %}

